name: build
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.23, 1.24, 1.25]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up Golang ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Test
        env:
          TZ: Asia/Shanghai
        run: |
          make test
          bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN}}
